<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="vegtable name" [(ngModel)]="firstChart">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="searchFirstChart()">Search for:</button>
                </span>
            </div>

        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let x of vegtableArrayWithChart">{{x}}</li>
        </ul>

        <div class="alert alert-warning" role="alert" *ngIf="errorMsg">{{errorMsg}}</div>
    </div>

</div>